<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="music.mapper.ConvertMapper">
	<select id="getHashForDeviceAndTrack" resultType="String">
		SELECT hash FROM <include refid="hashTable"></include> h
		INNER JOIN <include refid="music.mapper.DeviceMapper.deviceTable"></include> d
		ON h.deviceid = d.id
		WHERE h.trackid = #{trackId} AND d.name = #{deviceName}
	</select>

	<insert id="upsertHash">
		INSERT INTO <include refid="hashTable"></include>(trackid, deviceid, hash)
		VALUES (#{trackId}, #{deviceId}, #{hash})
		ON CONFLICT (trackid, deviceid)
		DO UPDATE SET
		hash = #{hash}
	</insert>

	<delete id="deleteHash">
		DELETE FROM <include refid="hashTable"></include> WHERE trackid = #{trackId}
	</delete>

	<delete id="deleteHashByLocation">
		DELETE FROM <include refid="hashTable"></include> WHERE trackid IN (
			SELECT id
			FROM music.track
			WHERE location = #{location}
		)
	</delete>

	<sql id="hashTable">music.hash</sql>
</mapper>
