<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="music.mapper.DeviceMapper">
    <insert id="insert">
        INSERT INTO <include refid="deviceTable"></include> (name)
        VALUES(#{name})
    </insert>

    <select id="getDeviceByName" resultType="music.model.Device">
        SELECT * FROM <include refid="deviceTable"></include> WHERE name = #{name}
    </select>

	<sql id="deviceTable">music.device</sql>
</mapper>